<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- 
	配置 SpringMVC 前端控制器，默认会加载 WEB-INF/dispatcher-servlet.xml 文件，也可以使用 init-param 指定加载的xml文件。
	DispatcherServlet 是前端控制器模式的实现，提供Spring Web MVC的集中访问点，负责职责的分派，而且与Spring IoC容器无缝集成，可以获得Spring的所有好处。
	-->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- 
			可以加载多个配置文件，用逗号隔开。
			<param-value>classpath:spring-servlet-config1.xml</param-value>
            -->
            <param-value>classpath:spring-servlet-config2.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>  
		<servlet-name>dispatcher</servlet-name>  
		<url-pattern>/</url-pattern>  
	</servlet-mapping>  

	<!-- 下面是POST中文乱码解决方案 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>