<?xml version="1.0" encoding="UTF-8"?>
<!-- 注解配置方式  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.1.xsd  
    http://www.springframework.org/schema/mvc    
    http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	
	<!-- 默认扫描的包路径，使用注解的 Controller 类将被自动发现并注册为 Bean -->  
    <context:component-scan base-package="controller.annotation" /> 
    
    <!--  
          配置对静态资源的请求的处理：<mvc:resources> 建立了一个服务于静态资源的处理器。
          属性 mapping 被设置为 /resources/**，它包含了 Ant 风格的通配符以表明路径必须以 /resources 开始，而且也包含它的任意子路径。
          属性 location 表明了要提供服务的文件位置。
          上述配置表明，所有以 /resources 路径开头的请求都会自动由应用程序根目录下的 /resources 目录提供服务。
          因此，所有图片、样式表、JavaScript以及其他的静态资源都必须放在应用程序的 /resources 目录下，如下：
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/img/**" location="/img/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    -->
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <!-- 同时需要添加注解驱动 -->  
    <mvc:annotation-driven />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="interceptor.BaseUrlInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- InternalResourceViewResolver：用于支持Servlet、JSP视图解析。	-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- viewClass：JstlView表示JSP模板页面需要使用JSTL标签库，classpath中必须包含jstl的相关jar包。 -->
   		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    	<!-- 
    	prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀）。
    	比如传进来的逻辑视图名为hello，则该jsp视图页面应该存放在"WEB-INF/jsp/hello.jsp"。 
    	-->
    	<property name="prefix" value="/WEB-INF/views/"/>
    	<property name="suffix" value=".jsp"/>
	</bean>
</beans>