<?xml version="1.0" encoding="UTF-8"?>
<!-- 传统配置方式  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.1.xsd  
    http://www.springframework.org/schema/mvc    
    http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	
	<!-- 
	BeanNameUrlHandlerMapping：表示将请求的URL和Bean名字进行映射。
	如URL为 "上下文/hello"，则本配置文件必须有一个名字为"/hello"的Bean，上下文默认忽略。 
	-->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
 
	<!-- 
	SimpleControllerHandlerAdapter：表示所有实现了org.springframework.web.servlet.mvc.Controller 接口的 Bean 都可以作为SpringMVC中的处理器。
	如果需要其他类型的处理器可以通过实现 HandlerAdapter 来解决。
	-->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	
	<!-- InternalResourceViewResolver：用于支持Servlet、JSP视图解析。	-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- viewClass：JstlView表示JSP模板页面需要使用JSTL标签库，classpath中必须包含jstl的相关jar包。 -->
   		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    	<!-- 
    	prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀）。
    	比如传进来的逻辑视图名为hello，则该jsp视图页面应该存放在"WEB-INF/jsp/hello.jsp"。 
    	-->
    	<property name="prefix" value="/WEB-INF/views/"/>
    	<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 处理器 -->
	<bean name="/hello" class="controller.HelloWorldController"/>

</beans>